.cardWidth {
    width: 300px
        /* 288px */
    ;
}

.inputWidth {
    width: 67.666667%;
}

.cardText {
    font-weight: 300;
}
.inputHeight {
    height: 150px
        /* 144px */
    ;
}

.custom-divider>*+*::before {
    content: '-';
    color: #6d6d6e;
    margin-right: 8px;
    margin-left: 8px;
}

.pricingW-H {
    width: 38%;
    height: 440px;
}

.pricingCardHeight {
    height: 315px;

}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Example: Grayish color with 50% opacity */
    z-index: 9999;
    /* Adjust the z-index value as needed */
}

body {
    background-image: url('/public/v960-ning-05.jpg');
    /* background-color: #b2e5fe; */
    height: 700px;
    background-position: center;
    background-size: cover;
}